*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', serif;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    gap: 10px;
}

.container form{
    padding: 60px;
    width: 400px;
    box-shadow: 5px 5px 6px #51e0bf;
    background-color: #a7ffea;
    border: 1px solid #3ec4a5;
    border-radius: 10%;
}

.container form tr td{
    display: block;
    margin: 10px 0 5px 0; 
    font-weight: bold;
    font-size: 16px;
    color: #07a17d;
}

.container form tr td input[type="text"]{
    width: 100%;
    padding: 10px 5px;
    border-radius: 5px;
    border: 1px solid #3ec4a5;
}

.container form tr td input[type="submit"]{
    display: block;
    margin: 25px auto 0 auto;
    width: 100%;
    border-radius: 5px;
    padding: 10px 0;
    border: 1px solid #3ec4a5;
    background-color: #51e0bf;
} 

.container form input[type="submit"]:hover{
    background-color: #55fad4;
}